<nav class="navbar">
    <div class="container-fluid">
     <a class="navbar-brand" href="#">
      CSCMS
     </a>
     <button class="cart-btn">
      Cart
     </button>
    </div>
   </nav>
   <div class="container-fluid mt-3">
    <div class="row">
     <div class="col-md-3">
      <div class="filters">
       <div class="mb-3">
        <label class="form-label" for="category">
         Category
        </label>
        <select class="form-select" id="category">
         <option selected="">
          Choose...
         </option>
        </select>
       </div>
       <div class="mb-3">
        <label class="form-label" for="brand">
         Brand
        </label>
        <select class="form-select" id="brand">
         <option selected="">
          Choose...
         </option>
        </select>
       </div>
       <div class="mb-3">
        <label class="form-label" for="makeBy">
         Make By
        </label>
        <select class="form-select" id="makeBy">
         <option selected="">
          Choose...
         </option>
        </select>
       </div>
      </div>
     </div>
     <div class="col-md-9">
      <div class="search-bar mb-3">
       <input placeholder="Search" type="text"/>
       <button>
        Search
       </button>
      </div>
      <div class="row">
       <div class="col-md-4 mb-3">
        <div class="product-card">
         <img alt="Product Image" height="150" src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-LmQ09WWGIGwOeeA4ArnRw0x5/user-uJPET5fjNenSso8wCETWVNOp/img-yexv0zLe8A6cvC3BS1o1HmSH.png?st=2024-09-15T16%3A49%3A35Z&amp;se=2024-09-15T18%3A49%3A35Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-09-14T23%3A14%3A24Z&amp;ske=2024-09-15T23%3A14%3A24Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=W9Ol9ifgLOkPW7QjV7DbvZFh05cfXgYvULwsqCP6GXQ%3D" width="150"/>
         <div class="product-name">
          Product Name
         </div>
         <button class="buy-now-btn">
          Buy Now
         </button>
        </div>
       </div>
       <div class="col-md-4 mb-3">
        <div class="product-card">
         <img alt="Product Image" height="150" src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-LmQ09WWGIGwOeeA4ArnRw0x5/user-uJPET5fjNenSso8wCETWVNOp/img-yexv0zLe8A6cvC3BS1o1HmSH.png?st=2024-09-15T16%3A49%3A35Z&amp;se=2024-09-15T18%3A49%3A35Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-09-14T23%3A14%3A24Z&amp;ske=2024-09-15T23%3A14%3A24Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=W9Ol9ifgLOkPW7QjV7DbvZFh05cfXgYvULwsqCP6GXQ%3D" width="150"/>
         <div class="product-name">
          Product Name
         </div>
         <button class="buy-now-btn">
          Buy Now
         </button>
        </div>
       </div>
       <div class="col-md-4 mb-3">
        <div class="product-card">
         <img alt="Product Image" height="150" src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-LmQ09WWGIGwOeeA4ArnRw0x5/user-uJPET5fjNenSso8wCETWVNOp/img-yexv0zLe8A6cvC3BS1o1HmSH.png?st=2024-09-15T16%3A49%3A35Z&amp;se=2024-09-15T18%3A49%3A35Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-09-14T23%3A14%3A24Z&amp;ske=2024-09-15T23%3A14%3A24Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=W9Ol9ifgLOkPW7QjV7DbvZFh05cfXgYvULwsqCP6GXQ%3D" width="150"/>
         <div class="product-name">
          Product Name
         </div>
         <button class="buy-now-btn">
          Buy Now
         </button>
        </div>
       </div>
       <div class="col-md-4 mb-3">
        <div class="product-card">
         <img alt="Product Image" height="150" src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-LmQ09WWGIGwOeeA4ArnRw0x5/user-uJPET5fjNenSso8wCETWVNOp/img-yexv0zLe8A6cvC3BS1o1HmSH.png?st=2024-09-15T16%3A49%3A35Z&amp;se=2024-09-15T18%3A49%3A35Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-09-14T23%3A14%3A24Z&amp;ske=2024-09-15T23%3A14%3A24Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=W9Ol9ifgLOkPW7QjV7DbvZFh05cfXgYvULwsqCP6GXQ%3D" width="150"/>
         <div class="product-name">
          Product Name
         </div>
         <button class="buy-now-btn">
          Buy Now
         </button>
        </div>
       </div>
       <div class="col-md-4 mb-3">
        <div class="product-card">
         <img alt="Product Image" height="150" src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-LmQ09WWGIGwOeeA4ArnRw0x5/user-uJPET5fjNenSso8wCETWVNOp/img-yexv0zLe8A6cvC3BS1o1HmSH.png?st=2024-09-15T16%3A49%3A35Z&amp;se=2024-09-15T18%3A49%3A35Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-09-14T23%3A14%3A24Z&amp;ske=2024-09-15T23%3A14%3A24Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=W9Ol9ifgLOkPW7QjV7DbvZFh05cfXgYvULwsqCP6GXQ%3D" width="150"/>
         <div class="product-name">
          Product Name
         </div>
         <button class="buy-now-btn">
          Buy Now
         </button>
        </div>
       </div>
       <div class="col-md-4 mb-3">
        <div class="product-card">
         <img alt="Product Image" height="150" src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-LmQ09WWGIGwOeeA4ArnRw0x5/user-uJPET5fjNenSso8wCETWVNOp/img-yexv0zLe8A6cvC3BS1o1HmSH.png?st=2024-09-15T16%3A49%3A35Z&amp;se=2024-09-15T18%3A49%3A35Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-09-14T23%3A14%3A24Z&amp;ske=2024-09-15T23%3A14%3A24Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=W9Ol9ifgLOkPW7QjV7DbvZFh05cfXgYvULwsqCP6GXQ%3D" width="150"/>
         <div class="product-name">
          Product Name
         </div>
         <button class="buy-now-btn">
          Buy Now
         </button>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>