<div class="header">
    Welcome to Car service center Management System
</div>
<div class="buttons">
    <button class="btn btn-primary">
        Register
    </button>
    <button class="btn btn-success">
        Log In
    </button>
</div>
<div class="container">
    <div class="carousel slide" data-bs-ride="carousel"
        id="carouselExampleIndicators">
        <div class="carousel-indicators">
            <button aria-current="true" aria-label="Slide 1" class="active"
                data-bs-slide-to="0" data-bs-target="#carouselExampleIndicators"
                type="button">
            </button>
            <button aria-label="Slide 2" data-bs-slide-to="1"
                data-bs-target="#carouselExampleIndicators" type="button">
            </button>
            <button aria-label="Slide 3" data-bs-slide-to="2"
                data-bs-target="#carouselExampleIndicators" type="button">
            </button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img alt="Slide 1" class="d-block w-100" height="300"
                    src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-BVbpSZmLndA7MfHIxv2ahIKS/user-IBY8IaMXtVn7IVIdZeyvjx16/img-r8mMUg3yVk60DMFTKPX8D4sk.png?st=2024-09-15T15%3A14%3A23Z&amp;se=2024-09-15T17%3A14%3A23Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-09-14T23%3A10%3A49Z&amp;ske=2024-09-15T23%3A10%3A49Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=X1GJJ2b3O65qqXn8XcP1mxiR/s2GgIJ3yf%2BsvaF/xs0%3D"
                    width="800" />
            </div>
            <div class="carousel-item">
                <img alt="Slide 2" class="d-block w-100" height="300"
                    src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-BVbpSZmLndA7MfHIxv2ahIKS/user-IBY8IaMXtVn7IVIdZeyvjx16/img-hF2TiSkJQoUcPQZ96MI4ncUN.png?st=2024-09-15T15%3A12%3A55Z&amp;se=2024-09-15T17%3A12%3A55Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-09-14T23%3A44%3A46Z&amp;ske=2024-09-15T23%3A44%3A46Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=75P4bs0dhLB%2B7KT6OyFWfEBWh0k72gWsd9THRK1H8Io%3D"
                    width="800" />
            </div>
            <div class="carousel-item">
                <img alt="Slide 3" class="d-block w-100" height="300"
                    src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-BVbpSZmLndA7MfHIxv2ahIKS/user-IBY8IaMXtVn7IVIdZeyvjx16/img-V2uNNpekusRR0xXI0O4MMf1J.png?st=2024-09-15T15%3A14%3A27Z&amp;se=2024-09-15T17%3A14%3A27Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-09-14T23%3A46%3A44Z&amp;ske=2024-09-15T23%3A46%3A44Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=rlw25uYn/mzitEYPhgkS/PN7Wj2%2B5dryY7XnPiiCvxk%3D"
                    width="800" />
            </div>
        </div>
        <button class="carousel-control-prev" data-bs-slide="prev"
            data-bs-target="#carouselExampleIndicators" type="button">
            <span aria-hidden="true" class="carousel-control-prev-icon">
            </span>
            <span class="visually-hidden">
                Previous
            </span>
        </button>
        <button class="carousel-control-next" data-bs-slide="next"
            data-bs-target="#carouselExampleIndicators" type="button">
            <span aria-hidden="true" class="carousel-control-next-icon">
            </span>
            <span class="visually-hidden">
                Next
            </span>
        </button>
    </div>
    <div class="services row">
        <h3>
            Our Services
        </h3>
        <div class="service-item col-md-4 col-sm-12">
            <img alt="Appointment Booking" height="100"
                src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-BVbpSZmLndA7MfHIxv2ahIKS/user-IBY8IaMXtVn7IVIdZeyvjx16/img-KnnBkjvsfruIR6hpN3Q0GUZh.png?st=2024-09-15T15%3A11%3A57Z&amp;se=2024-09-15T17%3A11%3A57Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-09-14T23%3A42%3A48Z&amp;ske=2024-09-15T23%3A42%3A48Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=Wz9R4novxirv83WgMJ3ufr770GsN36Y0JK6mS3xMDbQ%3D"
                width="100" />
            <h5>
                Appointment Booking
            </h5>
            <p>
                Book an appointment with our service center for your vehicle
                maintenance.
            </p>
            <button class="btn btn-primary">
                Book Now
            </button>
        </div>
        <div class="service-item col-md-4 col-sm-12">
            <img alt="Spare Parts Online" height="100"
                src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-BVbpSZmLndA7MfHIxv2ahIKS/user-IBY8IaMXtVn7IVIdZeyvjx16/img-QJVKhdXkwdXxMjB3DtHe8NP5.png?st=2024-09-15T15%3A11%3A58Z&amp;se=2024-09-15T17%3A11%3A58Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-09-15T00%3A16%3A24Z&amp;ske=2024-09-16T00%3A16%3A24Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=avnaRGcIeZbvpqZwWSVjgxqbwL/%2BSX7MAQNnOWG9nwM%3D"
                width="100" />
            <h5>
                Spare Parts Online
            </h5>
            <p>
                Purchase genuine spare parts for your vehicle from our online
                store.
            </p>
            <button class="btn btn-success" routerLink="about">
                Shop Now
            </button>
        </div>
        <div class="service-item col-md-4 col-sm-12">
            <img alt="Car Rental System" height="100"
                src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-BVbpSZmLndA7MfHIxv2ahIKS/user-IBY8IaMXtVn7IVIdZeyvjx16/img-FF83MgsZOyaSHdIganGs3EvU.png?st=2024-09-15T15%3A11%3A57Z&amp;se=2024-09-15T17%3A11%3A57Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-09-14T23%3A26%3A01Z&amp;ske=2024-09-15T23%3A26%3A01Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=j1C7HayTvZX0FA/miDNqB2IbYDriAVmAgYOgHWjYFzw%3D"
                width="100" />
            <h5>
                Car Rental System
            </h5>
            <p>
                Rent a car for a day or a week with our easy car rental service.
            </p>
            <button class="btn btn-danger">
                Rent Now
            </button>
        </div>
    </div>
</div>
