<div class="header">
    <h1>CSCMS</h1>
    <div class="welcome">
        <span>Welcome Admin</span>
        <i class="fas fa-circle"></i>
    </div>
</div>
<div class="d-flex flex-column flex-md-row">
    <div class="sidebar">
        <div class="menu-item">
            <h2>Dashboard</h2>
        </div>
        <div class="accordion" id="accordionExample">
            <div class="menu-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Bookings
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <button class="btn btn-outline-light m-1" type="button" routerLink="managebooking">Manage Booking</button><br>
                        <button class="btn btn-outline-light m-1" type="button" routerLink="addbooking">Create Booking</button><br>
                    </div>
                </div>
            </div>
            <div class="menu-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Service
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <button class="btn btn-outline-light m-1" type="button" routerLink="manageservice">Manage Service</button><br>
                        <button class="btn btn-outline-light m-1" type="button" routerLink="assignservice">Assign Service</button><br>
                    </div>
                </div>
            </div>
            <div class="menu-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Category
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <button class="btn btn-outline-light m-1" type="button" routerLink="managecategory">Manage Category</button><br>
                        <button class="btn btn-outline-light m-1" type="button" routerLink="addcategory">Create Category</button><br>
                    </div>
                </div>
            </div>
            <div class="menu-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Brand
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <button class="btn btn-outline-light m-1" type="button" routerLink="managebrand">Manage Brand</button><br>
                        <button class="btn btn-outline-light m-1" type="button" routerLink="addbrand">Create Brand</button><br>
                    </div>
                </div>
            </div>
            <div class="menu-item">
                <h2 class="accordion-header" id="headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        Make By
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <button class="btn btn-outline-light m-1" type="button" routerLink="managemake">Manage Make By</button><br>
                        <button class="btn btn-outline-light m-1" type="button" routerLink="addmake">Create Make By</button><br>
                    </div>
                </div>
            </div>
            <div class="menu-item">
                <h2 class="accordion-header" id="headingSix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        Product
                    </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <button class="btn btn-outline-light m-1" type="button" routerLink="manageproduct">Manage Product</button><br>
                        <button class="btn btn-outline-light m-1" type="button" routerLink="addproduct">Create Product</button><br>
                    </div>
                </div>
            </div>
            <div class="menu-item">
                <h2 class="accordion-header" id="headingSeven">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        Service Type
                    </button>
                </h2>
                <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <button class="btn btn-outline-light m-1" type="button" routerLink="managesrvicetype">Manage Service Type</button><br>
                        <button class="btn btn-outline-light m-1" type="button" routerLink="addsrvicetype">Create Service Type</button><br>
                    </div>
                </div>
            </div>
            <div class="menu-item">
                <h2 class="accordion-header" id="headingEight">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                        Service Order
                    </button>
                </h2>
                <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <button class="btn btn-outline-light m-1" type="button" routerLink="manageserviceorder">Manage Service Order</button><br>
                        <button class="btn btn-outline-light m-1" type="button" routerLink="vieworder">View Service Order</button><br>
                    </div>
                </div>
            </div>
            <div class="menu-item">
                <h2 class="accordion-header" id="headingNine">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                        User
                    </button>
                </h2>
                <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <button class="btn btn-outline-light m-1" type="button" routerLink="manageuser">Manage User</button><br>
                        <button class="btn btn-outline-light m-1" type="button" routerLink="adduser">Create User</button><br>
                    </div>
                </div>
            </div>
            <div class="menu-item">
                <h2 class="accordion-header" id="headingTen">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                        Online Order
                    </button>
                </h2>
                <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <button class="btn btn-outline-light m-1" type="button" routerLink="manageorder">Manage Order</button><br>
                        <button class="btn btn-outline-light m-1" type="button" routerLink="managebooking">Create Make By</button><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-grow-1">
        <!-- Main content area -->
         <router-outlet></router-outlet>
    </div>
</div>