<div class="header">
    CSCMS
</div>
<div class="register-box">
    <h2>Register</h2>
    <form>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="first-name" class="form-label">First Name</label>
                <input type="text" class="form-control" id="first-name" placeholder="First Name">
            </div>
            <div class="col-md-6 mb-3">
                <label for="last-name" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="last-name" placeholder="Last Name">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Email">
            </div>
            <div class="col-md-6 mb-3">
                <label for="phone" class="form-label">Phone No</label>
                <input type="text" class="form-control" id="phone" placeholder="Phone No">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="nic" class="form-label">NIC</label>
                <input type="text" class="form-control" id="nic" placeholder="NIC">
            </div>
            <div class="col-md-6 mb-3">
                <label for="city" class="form-label">City</label>
                <input type="text" class="form-control" id="city" placeholder="City">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <div class="col-md-6 mb-3">
                <label for="retype-password" class="form-label">Re-type Password</label>
                <input type="password" class="form-control" id="retype-password" placeholder="Re-type Password">
            </div>
        </div>
        <button type="submit" class="btn register-btn">Register</button>
    </form>
    <div class="register-link">
        if you are registered <a href="#">click here</a>
    </div>
</div>