<div class="header">
    CSCMS
</div>
<div class="container">
    <h2>
        Shopping Cart
    </h2>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Item
                    </th>
                    <th>
                        Item Name
                    </th>
                    <th>
                        Unit Price
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Total
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <img alt="Product Image 1" height="50"
                            src="https://placehold.co/50x50" width="50" />
                    </td>
                    <td>
                        Product Name
                    </td>
                    <td>
                        Rs. 1000
                    </td>
                    <td>
                        <input class="form-control"
                            style="width: 60px; display: inline-block;"
                            type="number" value="2" />
                    </td>
                    <td>
                        Rs. 2000
                    </td>
                </tr>
                <tr>
                    <td>
                        <img alt="Product Image 2" height="50"
                            src="https://placehold.co/50x50" width="50" />
                    </td>
                    <td>
                        Product Name
                    </td>
                    <td>
                        Rs. 1000
                    </td>
                    <td>
                        <input class="form-control"
                            style="width: 60px; display: inline-block;"
                            type="number" value="2" />
                    </td>
                    <td>
                        Rs. 2000
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="summary">
        <div class="row">
            <div class="col">
                Sub Total
            </div>
            <div class="col">
                Rs. 4000
            </div>
        </div>
        <div class="row">
            <div class="col">
                Discount
            </div>
            <div class="col">
                Rs. 0
            </div>
        </div>
        <div class="row">
            <div class="col">
                Total
            </div>
            <div class="col">
                Rs. 4000
            </div>
        </div>
    </div>
</div>