<div class="container">
    <div class="section-title">Service Detail</div>
    <div class="row mt-3">
        <div class="col-12">
            <div class="section-subtitle owner-details">Owner Details</div>
            <div class="row">
                <div class="col-md-3 col-6">
                    <div class="form-group">
                        <label for="ownerName">Name</label>
                        <input type="text" class="form-control" id="ownerName">
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="form-group">
                        <label for="ownerEmail">Email</label>
                        <input type="email" class="form-control" id="ownerEmail">
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="form-group">
                        <label for="ownerMobile">Mobile No</label>
                        <input type="text" class="form-control" id="ownerMobile">
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="form-group">
                        <label for="ownerAddress">Address</label>
                        <input type="text" class="form-control" id="ownerAddress">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mt-3">
            <div class="section-subtitle vehicle-details">Vehicle Details</div>
            <div class="row">
                <div class="col-md-3 col-6">
                    <div class="form-group">
                        <label for="vehicleMake">Vehicle Make</label>
                        <input type="text" class="form-control" id="vehicleMake">
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="form-group">
                        <label for="vehicleModel">Vehicle Model</label>
                        <input type="text" class="form-control" id="vehicleModel">
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="form-group">
                        <label for="vehicleNo">Vehicle No</label>
                        <input type="text" class="form-control" id="vehicleNo">
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="form-group">
                        <label for="manufacturedYear">Manufactured Year</label>
                        <input type="text" class="form-control" id="manufacturedYear">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-title mt-4">Products</div>
    <div class="row">
        <div class="col-md-3 col-6">
            <div class="form-group">
                <label for="productName">Product Name</label>
                <input type="text" class="form-control" id="productName">
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="form-group">
                <label for="productQty">Qty</label>
                <input type="text" class="form-control" id="productQty">
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="form-group">
                <label for="productUnitPrice">Unit Price</label>
                <input type="text" class="form-control" id="productUnitPrice">
            </div>
        </div>
        <div class="col-md-3 col-6 d-flex align-items-end">
            <div class="add-button">Add</div>
        </div>
    </div>
    <table class="mt-3">
        <thead>
            <tr>
                <th>Product Id</th>
                <th>Product Name</th>
                <th>Unit Price</th>
                <th>Qty</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div class="section-title mt-4">Services</div>
    <div class="row">
        <div class="col-md-6 col-6">
            <div class="form-group">
                <label for="serviceName">Service Name</label>
                <input type="text" class="form-control" id="serviceName">
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="form-group">
                <label for="servicePrice">Price</label>
                <input type="text" class="form-control" id="servicePrice">
            </div>
        </div>
        <div class="col-md-3 col-6 d-flex align-items-end">
            <div class="add-button">Add</div>
        </div>
    </div>
    <table class="mt-3">
        <thead>
            <tr>
                <th>Service Id</th>
                <th>Service Name</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div class="text-center mt-4">
        <button class="submit-button">Submit</button>
    </div>
</div>